<div class="card">
    <div class="card-header">
        <h3 class="card-title">Fill the form to add new profile</h3>
    </div>
    <div class="card-body col-lg-6 col-md-12">
        <form class="form-container" [formGroup]="profileForm">
            <div class="form-group columns">
                <mat-form-field class="col-lg-6 col-md-6">
                    <input [appInputType]="'name'" matInput type="text" placeholder="Firstname" formControlName="name">
                </mat-form-field>
                <mat-form-field class="col-lg-6 col-md-6">
                        <input [appInputType]="'name'" matInput type="text" placeholder="Surname" formControlName="surname">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-radio-group name="gender" formControlName="gender">
                    <mat-radio-button class="col-lg-3 col-md-3" *ngFor="let gender of getGenders()" value="{{gender}}">{{gender}}</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="col-lg-6 col-md-6">
                    <input matInput type="date" placeholder="Birth date" formControlName="birthDate">
                </mat-form-field>
            </div>
            <div class="form-group">
            <mat-form-field class="col-lg-6 col-md-6">
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="col-lg-6 col-md-6">
                <input [appInputType]="'phone'" matInput type="tel" placeholder="Phone" formControlName="phone">
            </mat-form-field>
            </div>        
            <div class="form-group col-lg-12 col-md-12">
                <mat-label>Nationalities</mat-label>
                <mat-select formControlName="nationalities" multiple>
                    <mat-option *ngFor="let nationality of nationalitiesToArray()" value="{{nationality.id}}">{{nationality.name}}</mat-option>
                </mat-select>
            </div>
            
            <a *ngIf="!this.checkIfProfileExist(); else profileExist" class="btn btn-dark" [ngClass]="{'disabled': !profileForm.valid}" (click)="addProfile()"><i class="material-icons">add_circle_outline</i><span>Add profile</span></a>
            <ng-template #profileExist>
                <a class="btn btn-dark" [ngClass]="{'disabled': !profileForm.valid}" (click)="editProfile()"><i class="material-icons">edit</i><span>Save</span></a>
            </ng-template>
        </form>
    </div>
</div>